@import "tailwindcss";

@theme {
  --color-primary: #1D4ED8;
  --color-secondary: #64748B;
  --color-accent: #F59E0B;
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-border: #E5E7EB;
}
